<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.billy.googlemap_test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.billy.googlemap_test.Index" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDZ_DMsoucQpXYmprIS_7WFvFde_KBDAqI" />

        <activity android:name=".detail_user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Info" />
        <activity android:name=".danhsachphong" />
        <activity android:name=".listroom" />
        <activity android:name=".listdish" />
        <activity android:name=".IndexUSer" />
        <activity android:name=".Index" />
        <activity android:name=".Info_member" />
        <activity android:name=".profile" />
        <activity android:name=".register" />
        <activity android:name=".update_member" />
        <activity android:name=".login" />
        <activity android:name=".changepass" />
        <activity android:name=".MakeaReservation"></activity>
    </application>

</manifest>